#root {

    width: auto;
    height: 100%;
    margin: 0;
    background-color: #44687b;
}
body{
    height: 100%;
    background-color: #44687b;
    color: whitesmoke;
    
}

.dragText {
    position: absolute;
    color: #ffffff;
    top: 11%;
    left: 42%;
    padding: 51px;
    border-radius: 50%;
    background-color: #929292;
    border: 2px dotted;


    background-color: #929292;
}

.css-y8ay40-MuiTableCell-root {
    border-bottom: 5px solid rgb(23, 22, 22);
    background-color: #428BCA !important;
    color: rgb(255, 255, 255) !important;
}

.css-1ex1afd-MuiTableCell-root {
    border-bottom: 1px solid rgb(125, 125, 125) !important;
    background-color: #f5f9fc !important;
    color: #000 !important;
}

.outBox {

    width: 100vw;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.css-0 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.main {
    /* padding: 20px; */

    max-width: 500px;
    width: 100%;
    height: 200px;

    /* border: solid 1.5px black; */
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.viewer {
    position: relative;
    width: 100%;
    overflow-x: scroll;
}






.form-control[type=file]:not(:disabled):not([readonly]) {

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: url('./rocket1.png') no-repeat;
    background-size: 100% 100%;
}

.topButtons {
    display: flex;
    /* grid-template-columns: auto auto auto auto auto; */
 
    margin-top: 1.2rem;
    row-gap: 20px;
    width: 90%;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
    /* max-width: 1000px; */
    text-transform: capitalize;
}

.dragAndDropDiv {
    width: 96vw;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-top: 8%; */
}

.inputDiv {
    width: 250px;
    height: 250px;
    background-color: #a0bad3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.topButtons button {
    background: rgb(160, 186, 211);
    border: none;
    outline: none;
    width: auto;
    /* height: 40px; */
    border-radius: 10px;
    color: white;
    /* font-size: small; */
    /* font-weight: 600; */

    text-transform: capitalize;
    padding: 14px 35px;
    text-align: center;
}

.guZdik {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 228px !important;
    max-width: 228px !important;
    border: 2px solid rgb(255 255 255) !important;
    background-color: white;
    height: 200px !important;
    border: none;
    padding: 8px 16px 8px 8px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-flex: 0;
    flex-grow: 0;
}

.jWkLDY>span {
    /* font-size: 10px !important; */
    color: white;
    background-color: #ffffff;
}



.kFhUBM span {
    text-decoration: underline;
    background: white;
}

.jWkLDY>span {
    /* font-size: 10px !important; */
    color: white;
    background-color: #ffffff !important;
}

.jWkLDY {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: white;
}

.outBox {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
    width: 100%;
    max-width: 471px;
    height: 350px;
    border-radius: 15px;

    color: transparent;
}

.container-he{
    /* position: absolute; */
    min-height: 100vh;
}

.navbar{
    position: relative;
    top: 10px;
    /* left: 0px; */
    /* overflow: hidden; */
}
.list-style-ol{
    /* font-size: 22px; */
    color: white;
    display: flex;
    align-items: center;

    /* justify-content: center; */
    text-align: left;
    flex-direction: column;
}

ol li{
    margin-top: 15px;
    width: 350px;
}

.graph{
    text-align: center;

    /* background-color: black; */
}